<section class="form grid" data-formaddtype>
    
    <input type="text" class="form__input form__input_addtype-name" placeholder="Название вида услуги (обязательно)" />
    <div class="form__btn form__btn-addtype"> Добавить вид услуг</div>
    
</section>