
    <h1>Изменение вида услуг</h1>
    <section class="form grid" data-formedittype>
    <input type="hidden" class="id" value="{{typeService._id}}">
    <input type="text" class="form__input type-name" placeholder="Название вида услуги (обязательно)" value="{{typeService.nameTypeService}}"/>
    <div class="form__btn form__btn-edit-type"> Сохранить изменения</div>
    
</section>

