<section class="form grid">
<input type="text" class="form__input add-tariff-name" placeholder="Название тарифа (обязательно)" />
 <input type="text" class="form__input add-tariff-price" placeholder="Стоимость например: 1000 (обязательно)" />
 <input type="text" class="form__input add-tariff-lessons" placeholder="Колличество занятий в месяц например: 16 (по умолчанию 1)" />
 {{!-- <input type="file" class="afishanew"  > --}}
<div class="form__btn form__btn-addtariff"> Добавить тариф</div>
</section>