<section class="form formaddnews grid">
<h1>Форма добавления Объявления</h1>
<textarea id="mytextarea" class="form__textarea textnews" cols="30" rows="10"></textarea>
<div id="afishanew"  class="grid ">Афиша объявления: <input type="file" class="posternews"  ></div>
{{!-- <input type="file" class="afishanew"  > --}}
<div class="form__btn form__btn-addnew"> Добавить объявление</div>
</section>