<section class="form form-message grid" data-formmessage="{{selectedService.nameService}}">
    <input type="text" class="form-message__input form-message__input_name" placeholder="Ваше имя (обязательно)">
    <input type="text" class="form-message__input form-message__input_tel" placeholder="Ваш телефон для обратной связи (обязательно)">
    <textarea class="form-message__input form-message__input_text" placeholder="Ваше сообщение"></textarea>

<div class="form-message__header">Ваше сообщение можно отправить несколькими способами</div>
<div class="form-message__variant form-message__variant_email grid">
    
    <div class="form-message__variant_btn grid" >
     <div>на e-mail: lika.575@yandex.ru</div> <div class="form-message__loader form-message__loader_hidden"></div>
    </div>
    </div>
    
<div class="form-message__variant form-message__variant_wtsp ">
   <div class="form-message__variant_btn grid" >
    <div>на Whatsapp: 912-267-29-82</div>
    </div>  
    
</div>
</section>