<section class="grid" data-aboutservice>
    <div class="width100 grid">
 <div class="content aboutservice grid">   
<img class="aboutservice__poster" src="/uploads/img/services/{{idService}}.jpg" >
<div class="aboutservice__name" style="background-color: {{selectedservice.colorService}};">{{toUpperCase selectedservice.nameService}}</div>
<div class="aboutservice__about">{{{selectedservice.aboutService}}}</div>
{{>main/galleryservice}}
</div>

</div>
</section>