<section class="grid" data-galleryservice>
<div class="galleryserviceuser kol-vo{{kolVo}} grid" style="grid">
    {{#each galleryService}}
    <div class="galleryserviceuser__item grid"><img src="/uploads/img/services/gallery/{{../idService}}/{{.}}" alt="{{this.nameService}}" ></div>
    
    {{/each}}

</div>
</section>