<section class="mobile-slideritem grid" style="background-image: url('/uploads/img/services/{{this._id}}.jpg')">
   <input type="hidden" class="id" value="{{this._id}}">
    <div class="mobile-slideritem__about grid">
    <div class="mobile-slideritem__about_name">{{this.nameService}}</div>
        
    </div>
    
 
  
</section>