<section class="grid" data-priceservice>
<div class="wrap-price-service grid" style="background-color:{{selectedservice.colorService}}">
<div>от <span class="price">{{getFormatedPrice minPriceService}}</span> руб./занятие</div>
<input type="hidden" value="{{selectedservice._id}}">
<div class="detailPrice">подробнее ...</div>

</div>

</section>