<section class="header__logo grid"><div class="miniheader">
<section class="miniheader__contact grid">
    <div class="miniheader__contact-promo grid"><div><h1>"Территория семьи"</h1></div></div>
    {{!-- <div class="header__contact-tel grid"><span>+7(950)550-24-96</span><span>+7(912)267-29-82</span></div> --}}
    {{!-- <div class="miniheader__contact-adress grid "><span>(912)267-29-82</span><span>Красноуфимск Пролетарская, 89</span></div>  --}}
</section>

</div></section>
<section class="header__contact grid">
    <div class="header__contact-promo"><div><h1>Развивающие студии для детей и взрослых, тематические праздники и многое другое...</h1></div></div>
    {{!-- <div class="header__contact-tel grid"><span>+7(950)550-24-96</span><span>+7(912)267-29-82</span></div> --}}
    <div class="header__contact-adress grid "><span>912-267-29-82</span><span>Красноуфимск Пролетарская, 89</span></div> 
</section>
<section class="header__menu grid">
    {{>header/hamburgermenu}}
</section>
