<section class="razdel grid">
    <article class="razdel__title">Объявления</article>
    <section class="razdel__href grid">
        <a href="/admin/listnews" class="href">Список объявлений (удаление/редактирование)</a>
        <a href="/admin/addnews" class="href">Добавление объявления</a>   
    </section>


</section>
<section class="razdel grid">
    <article class="razdel__title">Возрастные категории</article>
    <section class="razdel__href grid">
        <a href="/admin/category" class="href">Добавление, редактирование, удаление</a>   
       
        
    </section>


</section>
<section class="razdel grid">
    <article class="razdel__title">Тарифы</article>
    <section class="razdel__href grid">
        <a href="/admin/listtariffes" class="href">Добавление, редактирование, удаление</a>   
       
        
    </section>


</section>
<section class="razdel grid">
    <article class="razdel__title">Услуги</article>
    <section class="razdel__href grid">
        <a href="/admin/service" class="href">Редактирование, удаление</a>
        <a href="/admin/addservice" class="href">Добавление услуги</a>
        <a href="/admin/listtype" class="href">Виды услуг(добавление, редактирование, удаление)</a>  

       
        
    </section>


</section>




